@font-face {
   font-family: 'Zen Antique';
   font-style: regular;
   font-display: swap;
   font-weight: 400;
   src: url('file:///C:/Users/googo/Documents/los_colores_de_isa/fonts/Zen Antique/regular.ttf') format('truetype');
}
