.btn {
  border-width: 2px;
}
img,
.card-wrap,
.card-wrapper,
.video-wrapper,
.mbr-figure iframe,
.google-map iframe,
.slide-content,
.plan,
.card,
.item-wrapper {
  border-radius: 2rem !important;
}
.video-wrapper {
  overflow: hidden;
}
body {
  font-family: Inter Tight;
}
.display-1 {
  font-family: 'Zen Antique', serif;
  font-size: 4.2rem;
  line-height: 1;
}
.display-1 > .mbr-iconfont {
  font-size: 5.25rem;
}
.display-2 {
  font-family: 'Zen Antique', serif;
  font-size: 3.4rem;
  line-height: 1;
}
.display-2 > .mbr-iconfont {
  font-size: 4.25rem;
}
.display-4 {
  font-family: 'Manrope', sans-serif;
  font-size: 1.4rem;
  line-height: 1.5;
}
.display-4 > .mbr-iconfont {
  font-size: 1.75rem;
}
.display-5 {
  font-family: 'Zen Antique', serif;
  font-size: 1.8rem;
  line-height: 1.5;
}
.display-5 > .mbr-iconfont {
  font-size: 2.25rem;
}
.display-7 {
  font-family: 'Manrope', sans-serif;
  font-size: 1.4rem;
  line-height: 1.3;
}
.display-7 > .mbr-iconfont {
  font-size: 1.75rem;
}
/* ---- Fluid typography for mobile devices ---- */
/* 1.4 - font scale ratio ( bootstrap == 1.42857 ) */
/* 100vw - current viewport width */
/* (48 - 20)  48 == 48rem == 768px, 20 == 20rem == 320px(minimal supported viewport) */
/* 0.65 - min scale variable, may vary */
@media (max-width: 992px) {
  .display-1 {
    font-size: 3.36rem;
  }
}
@media (max-width: 768px) {
  .display-1 {
    font-size: 2.94rem;
    font-size: calc( 2.12rem + (4.2 - 2.12) * ((100vw - 20rem) / (48 - 20)));
    line-height: calc( 1.1 * (2.12rem + (4.2 - 2.12) * ((100vw - 20rem) / (48 - 20))));
  }
  .display-2 {
    font-size: 2.72rem;
    font-size: calc( 1.8399999999999999rem + (3.4 - 1.8399999999999999) * ((100vw - 20rem) / (48 - 20)));
    line-height: calc( 1.3 * (1.8399999999999999rem + (3.4 - 1.8399999999999999) * ((100vw - 20rem) / (48 - 20))));
  }
  .display-4 {
    font-size: 1.12rem;
    font-size: calc( 1.14rem + (1.4 - 1.14) * ((100vw - 20rem) / (48 - 20)));
    line-height: calc( 1.4 * (1.14rem + (1.4 - 1.14) * ((100vw - 20rem) / (48 - 20))));
  }
  .display-5 {
    font-size: 1.44rem;
    font-size: calc( 1.28rem + (1.8 - 1.28) * ((100vw - 20rem) / (48 - 20)));
    line-height: calc( 1.4 * (1.28rem + (1.8 - 1.28) * ((100vw - 20rem) / (48 - 20))));
  }
  .display-7 {
    font-size: 1.12rem;
    font-size: calc( 1.14rem + (1.4 - 1.14) * ((100vw - 20rem) / (48 - 20)));
    line-height: calc( 1.4 * (1.14rem + (1.4 - 1.14) * ((100vw - 20rem) / (48 - 20))));
  }
}
@media (min-width: 992px) and (max-width: 1400px) {
  .display-1 {
    font-size: 2.94rem;
    font-size: calc( 2.12rem + (4.2 - 2.12) * ((100vw - 62rem) / (87 - 62)));
    line-height: calc( 1.1 * (2.12rem + (4.2 - 2.12) * ((100vw - 62rem) / (87 - 62))));
  }
  .display-2 {
    font-size: 2.72rem;
    font-size: calc( 1.8399999999999999rem + (3.4 - 1.8399999999999999) * ((100vw - 62rem) / (87 - 62)));
    line-height: calc( 1.3 * (1.8399999999999999rem + (3.4 - 1.8399999999999999) * ((100vw - 62rem) / (87 - 62))));
  }
  .display-4 {
    font-size: 1.12rem;
    font-size: calc( 1.14rem + (1.4 - 1.14) * ((100vw - 62rem) / (87 - 62)));
    line-height: calc( 1.4 * (1.14rem + (1.4 - 1.14) * ((100vw - 62rem) / (87 - 62))));
  }
  .display-5 {
    font-size: 1.44rem;
    font-size: calc( 1.28rem + (1.8 - 1.28) * ((100vw - 62rem) / (87 - 62)));
    line-height: calc( 1.4 * (1.28rem + (1.8 - 1.28) * ((100vw - 62rem) / (87 - 62))));
  }
  .display-7 {
    font-size: 1.12rem;
    font-size: calc( 1.14rem + (1.4 - 1.14) * ((100vw - 62rem) / (87 - 62)));
    line-height: calc( 1.4 * (1.14rem + (1.4 - 1.14) * ((100vw - 62rem) / (87 - 62))));
  }
}
/* Buttons */
.btn {
  padding: 1.25rem 2rem;
  border-radius: 4px;
}
@media (max-width: 767px) {
  .btn {
    padding: 0.75rem 1.5rem;
  }
}
.btn-sm {
  padding: 0.6rem 1.2rem;
  border-radius: 4px;
}
.btn-md {
  padding: 0.6rem 1.2rem;
  border-radius: 4px;
}
.btn-lg {
  padding: 1.25rem 2rem;
  border-radius: 4px;
}
.bg-primary {
  background-color: #ff4552 !important;
}
.bg-success {
  background-color: #000000 !important;
}
.bg-info {
  background-color: #01563b !important;
}
.bg-warning {
  background-color: #ffffff !important;
}
.bg-danger {
  background-color: #f7f7f7 !important;
}
.btn-primary,
.btn-primary:active {
  background-color: #ff4552 !important;
  border-color: #ff4552 !important;
  color: #ffffff !important;
  box-shadow: none;
}
.btn-primary:hover,
.btn-primary:focus,
.btn-primary.focus,
.btn-primary.active {
  color: inherit;
  background-color: #ff7881 !important;
  border-color: #ff7881 !important;
  box-shadow: none;
}
.btn-primary.disabled,
.btn-primary:disabled {
  color: #ffffff !important;
  background-color: #ff7881 !important;
  border-color: #ff7881 !important;
}
.btn-secondary,
.btn-secondary:active {
  background-color: #4552ff !important;
  border-color: #4552ff !important;
  color: #ffffff !important;
  box-shadow: none;
}
.btn-secondary:hover,
.btn-secondary:focus,
.btn-secondary.focus,
.btn-secondary.active {
  color: inherit;
  background-color: #7881ff !important;
  border-color: #7881ff !important;
  box-shadow: none;
}
.btn-secondary.disabled,
.btn-secondary:disabled {
  color: #ffffff !important;
  background-color: #7881ff !important;
  border-color: #7881ff !important;
}
.btn-info,
.btn-info:active {
  background-color: #01563b !important;
  border-color: #01563b !important;
  color: #ffffff !important;
  box-shadow: none;
}
.btn-info:hover,
.btn-info:focus,
.btn-info.focus,
.btn-info.active {
  color: inherit;
  background-color: #02885e !important;
  border-color: #02885e !important;
  box-shadow: none;
}
.btn-info.disabled,
.btn-info:disabled {
  color: #ffffff !important;
  background-color: #02885e !important;
  border-color: #02885e !important;
}
.btn-success,
.btn-success:active {
  background-color: #000000 !important;
  border-color: #000000 !important;
  color: #ffffff !important;
  box-shadow: none;
}
.btn-success:hover,
.btn-success:focus,
.btn-success.focus,
.btn-success.active {
  color: inherit;
  background-color: #1a1a1a !important;
  border-color: #1a1a1a !important;
  box-shadow: none;
}
.btn-success.disabled,
.btn-success:disabled {
  color: #ffffff !important;
  background-color: #1a1a1a !important;
  border-color: #1a1a1a !important;
}
.btn-warning,
.btn-warning:active {
  background-color: #ffffff !important;
  border-color: #ffffff !important;
  color: #808080 !important;
  box-shadow: none;
}
.btn-warning:hover,
.btn-warning:focus,
.btn-warning.focus,
.btn-warning.active {
  color: inherit;
  background-color: #ffffff !important;
  border-color: #ffffff !important;
  box-shadow: none;
}
.btn-warning.disabled,
.btn-warning:disabled {
  color: #808080 !important;
  background-color: #ffffff !important;
  border-color: #ffffff !important;
}
.btn-danger,
.btn-danger:active {
  background-color: #f7f7f7 !important;
  border-color: #f7f7f7 !important;
  color: #787878 !important;
  box-shadow: none;
}
.btn-danger:hover,
.btn-danger:focus,
.btn-danger.focus,
.btn-danger.active {
  color: inherit;
  background-color: #ffffff !important;
  border-color: #ffffff !important;
  box-shadow: none;
}
.btn-danger.disabled,
.btn-danger:disabled {
  color: #787878 !important;
  background-color: #ffffff !important;
  border-color: #ffffff !important;
}
.btn-white,
.btn-white:active {
  background-color: #eff0ec !important;
  border-color: #eff0ec !important;
  color: #757b62 !important;
  box-shadow: none;
}
.btn-white:hover,
.btn-white:focus,
.btn-white.focus,
.btn-white.active {
  color: inherit;
  background-color: #ffffff !important;
  border-color: #ffffff !important;
  box-shadow: none;
}
.btn-white.disabled,
.btn-white:disabled {
  color: #757b62 !important;
  background-color: #ffffff !important;
  border-color: #ffffff !important;
}
.btn-black,
.btn-black:active {
  background-color: #232323 !important;
  border-color: #232323 !important;
  color: #ffffff !important;
  box-shadow: none;
}
.btn-black:hover,
.btn-black:focus,
.btn-black.focus,
.btn-black.active {
  color: inherit;
  background-color: #3d3d3d !important;
  border-color: #3d3d3d !important;
  box-shadow: none;
}
.btn-black.disabled,
.btn-black:disabled {
  color: #ffffff !important;
  background-color: #3d3d3d !important;
  border-color: #3d3d3d !important;
}
.btn-primary-outline,
.btn-primary-outline:active {
  background-color: transparent !important;
  border-color: #ff4552;
  color: #ff4552;
}
.btn-primary-outline:hover,
.btn-primary-outline:focus,
.btn-primary-outline.focus,
.btn-primary-outline.active {
  color: #ed0011 !important;
  background-color: transparent !important;
  border-color: #ed0011 !important;
  box-shadow: none !important;
}
.btn-primary-outline.disabled,
.btn-primary-outline:disabled {
  color: #ffffff !important;
  background-color: #ff4552 !important;
  border-color: #ff4552 !important;
}
.btn-secondary-outline,
.btn-secondary-outline:active {
  background-color: transparent !important;
  border-color: #4552ff;
  color: #4552ff;
}
.btn-secondary-outline:hover,
.btn-secondary-outline:focus,
.btn-secondary-outline.focus,
.btn-secondary-outline.active {
  color: #0011ed !important;
  background-color: transparent !important;
  border-color: #0011ed !important;
  box-shadow: none !important;
}
.btn-secondary-outline.disabled,
.btn-secondary-outline:disabled {
  color: #ffffff !important;
  background-color: #4552ff !important;
  border-color: #4552ff !important;
}
.btn-info-outline,
.btn-info-outline:active {
  background-color: transparent !important;
  border-color: #01563b;
  color: #01563b;
}
.btn-info-outline:hover,
.btn-info-outline:focus,
.btn-info-outline.focus,
.btn-info-outline.active {
  color: #000000 !important;
  background-color: transparent !important;
  border-color: #000000 !important;
  box-shadow: none !important;
}
.btn-info-outline.disabled,
.btn-info-outline:disabled {
  color: #ffffff !important;
  background-color: #01563b !important;
  border-color: #01563b !important;
}
.btn-success-outline,
.btn-success-outline:active {
  background-color: transparent !important;
  border-color: #000000;
  color: #000000;
}
.btn-success-outline:hover,
.btn-success-outline:focus,
.btn-success-outline.focus,
.btn-success-outline.active {
  color: #000000 !important;
  background-color: transparent !important;
  border-color: #000000 !important;
  box-shadow: none !important;
}
.btn-success-outline.disabled,
.btn-success-outline:disabled {
  color: #ffffff !important;
  background-color: #000000 !important;
  border-color: #000000 !important;
}
.btn-warning-outline,
.btn-warning-outline:active {
  background-color: transparent !important;
  border-color: #ffffff;
  color: #ffffff;
}
.btn-warning-outline:hover,
.btn-warning-outline:focus,
.btn-warning-outline.focus,
.btn-warning-outline.active {
  color: #d4d4d4 !important;
  background-color: transparent !important;
  border-color: #d4d4d4 !important;
  box-shadow: none !important;
}
.btn-warning-outline.disabled,
.btn-warning-outline:disabled {
  color: #808080 !important;
  background-color: #ffffff !important;
  border-color: #ffffff !important;
}
.btn-danger-outline,
.btn-danger-outline:active {
  background-color: transparent !important;
  border-color: #f7f7f7;
  color: #f7f7f7;
}
.btn-danger-outline:hover,
.btn-danger-outline:focus,
.btn-danger-outline.focus,
.btn-danger-outline.active {
  color: #cccccc !important;
  background-color: transparent !important;
  border-color: #cccccc !important;
  box-shadow: none !important;
}
.btn-danger-outline.disabled,
.btn-danger-outline:disabled {
  color: #787878 !important;
  background-color: #f7f7f7 !important;
  border-color: #f7f7f7 !important;
}
.btn-black-outline,
.btn-black-outline:active {
  background-color: transparent !important;
  border-color: #232323;
  color: #232323;
}
.btn-black-outline:hover,
.btn-black-outline:focus,
.btn-black-outline.focus,
.btn-black-outline.active {
  color: #000000 !important;
  background-color: transparent !important;
  border-color: #000000 !important;
  box-shadow: none !important;
}
.btn-black-outline.disabled,
.btn-black-outline:disabled {
  color: #ffffff !important;
  background-color: #232323 !important;
  border-color: #232323 !important;
}
.btn-white-outline,
.btn-white-outline:active {
  background-color: transparent !important;
  border-color: #fafafa;
  color: #fafafa;
}
.btn-white-outline:hover,
.btn-white-outline:focus,
.btn-white-outline.focus,
.btn-white-outline.active {
  color: #cfcfcf !important;
  background-color: transparent !important;
  border-color: #cfcfcf !important;
  box-shadow: none !important;
}
.btn-white-outline.disabled,
.btn-white-outline:disabled {
  color: #7a7a7a !important;
  background-color: #fafafa !important;
  border-color: #fafafa !important;
}
.text-primary {
  color: #ff4552 !important;
}
.text-secondary {
  color: #4552ff !important;
}
.text-success {
  color: #000000 !important;
}
.text-info {
  color: #01563b !important;
}
.text-warning {
  color: #ffffff !important;
}
.text-danger {
  color: #f7f7f7 !important;
}
.text-white {
  color: #fafafa !important;
}
.text-black {
  color: #232323 !important;
}
a.text-primary:hover,
a.text-primary:focus,
a.text-primary.active {
  color: #de0010 !important;
}
a.text-secondary:hover,
a.text-secondary:focus,
a.text-secondary.active {
  color: #0010de !important;
}
a.text-success:hover,
a.text-success:focus,
a.text-success.active {
  color: #000000 !important;
}
a.text-info:hover,
a.text-info:focus,
a.text-info.active {
  color: #000000 !important;
}
a.text-warning:hover,
a.text-warning:focus,
a.text-warning.active {
  color: #cccccc !important;
}
a.text-danger:hover,
a.text-danger:focus,
a.text-danger.active {
  color: #c4c4c4 !important;
}
a.text-white:hover,
a.text-white:focus,
a.text-white.active {
  color: #c7c7c7 !important;
}
a.text-black:hover,
a.text-black:focus,
a.text-black.active {
  color: #000000 !important;
}
a[class*="text-"]:not(.nav-link):not(.dropdown-item):not([role]):not(.navbar-caption) {
  transition: 0.2s;
  position: relative;
  background-image: linear-gradient(currentColor 50%, currentColor 50%);
  background-size: 10000px 2px;
  background-repeat: no-repeat;
  background-position: 0 1.2em;
}
.nav-tabs .nav-link.active {
  color: #ff4552;
}
.nav-tabs .nav-link:not(.active) {
  color: #232323;
}
.alert-success {
  background-color: #70c770;
}
.alert-info {
  background-color: #01563b;
}
.alert-warning {
  background-color: #ffffff;
}
.alert-danger {
  background-color: #f7f7f7;
}
.mbr-section-btn .btn:not(.btn-form) {
  border-radius: 100px;
}
.mbr-gallery-filter li a {
  border-radius: 100px !important;
}
.mbr-gallery-filter li.active .btn {
  background-color: #ff4552;
  border-color: #ff4552;
  color: #ffffff;
}
.mbr-gallery-filter li.active .btn:focus {
  box-shadow: none;
}
.nav-tabs .nav-link {
  border-radius: 100px !important;
}
a,
a:hover {
  color: #ff4552;
}
.mbr-plan-header.bg-primary .mbr-plan-subtitle,
.mbr-plan-header.bg-primary .mbr-plan-price-desc {
  color: #ffffff;
}
.mbr-plan-header.bg-success .mbr-plan-subtitle,
.mbr-plan-header.bg-success .mbr-plan-price-desc {
  color: #b3b3b3;
}
.mbr-plan-header.bg-info .mbr-plan-subtitle,
.mbr-plan-header.bg-info .mbr-plan-price-desc {
  color: #02d491;
}
.mbr-plan-header.bg-warning .mbr-plan-subtitle,
.mbr-plan-header.bg-warning .mbr-plan-price-desc {
  color: #ffffff;
}
.mbr-plan-header.bg-danger .mbr-plan-subtitle,
.mbr-plan-header.bg-danger .mbr-plan-price-desc {
  color: #ffffff;
}
/* Scroll to top button*/
.scrollToTop_wraper {
  display: none;
}
.form-control {
  font-family: 'Manrope', sans-serif;
  font-size: 1.4rem;
  line-height: 1.3;
  font-weight: 400;
  border-radius: 40px !important;
}
.form-control > .mbr-iconfont {
  font-size: 1.75rem;
}
.form-control:hover,
.form-control:focus {
  box-shadow: rgba(0, 0, 0, 0.07) 0px 1px 1px 0px, rgba(0, 0, 0, 0.07) 0px 1px 3px 0px, rgba(0, 0, 0, 0.03) 0px 0px 0px 1px;
  border-color: #ff4552 !important;
}
.form-control:-webkit-input-placeholder {
  font-family: 'Manrope', sans-serif;
  font-size: 1.4rem;
  line-height: 1.3;
  font-weight: 400;
}
.form-control:-webkit-input-placeholder > .mbr-iconfont {
  font-size: 1.75rem;
}
blockquote {
  border-color: #ff4552;
}
/* Forms */
.mbr-form .input-group-btn .btn {
  border-radius: 100px !important;
}
.mbr-form .input-group-btn .btn:hover {
  box-shadow: 0 10px 40px 0 rgba(0, 0, 0, 0.2);
}
.mbr-form .input-group-btn button[type="submit"] {
  border-radius: 100px !important;
  padding: 1rem 3rem;
}
.mbr-form .input-group-btn button[type="submit"]:hover {
  box-shadow: 0 10px 40px 0 rgba(0, 0, 0, 0.2);
}
.jq-selectbox li:hover,
.jq-selectbox li.selected {
  background-color: #ff4552;
  color: #ffffff;
}
.jq-number__spin {
  transition: 0.25s ease;
}
.jq-number__spin:hover {
  border-color: #ff4552;
}
.jq-selectbox .jq-selectbox__trigger-arrow,
.jq-number__spin.minus:after,
.jq-number__spin.plus:after {
  transition: 0.4s;
  border-top-color: #232323;
  border-bottom-color: #232323;
}
.jq-selectbox:hover .jq-selectbox__trigger-arrow,
.jq-number__spin.minus:hover:after,
.jq-number__spin.plus:hover:after {
  border-top-color: #ff4552;
  border-bottom-color: #ff4552;
}
.xdsoft_datetimepicker .xdsoft_calendar td.xdsoft_default,
.xdsoft_datetimepicker .xdsoft_calendar td.xdsoft_current,
.xdsoft_datetimepicker .xdsoft_timepicker .xdsoft_time_box > div > div.xdsoft_current {
  color: #ffffff !important;
  background-color: #ff4552 !important;
  box-shadow: none !important;
}
.xdsoft_datetimepicker .xdsoft_calendar td:hover,
.xdsoft_datetimepicker .xdsoft_timepicker .xdsoft_time_box > div > div:hover {
  color: #ffffff !important;
  background: #4552ff !important;
  box-shadow: none !important;
}
.lazy-bg {
  background-image: none !important;
}
.lazy-placeholder:not(section),
.lazy-none {
  display: block;
  position: relative;
  padding-bottom: 56.25%;
  width: 100%;
  height: auto;
}
iframe.lazy-placeholder,
.lazy-placeholder:after {
  content: '';
  position: absolute;
  width: 200px;
  height: 200px;
  background: transparent no-repeat center;
  background-size: contain;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg width='32' height='32' viewBox='0 0 64 64' xmlns='http://www.w3.org/2000/svg' stroke='%23ff4552' %3e%3cg fill='none' fill-rule='evenodd'%3e%3cg transform='translate(16 16)' stroke-width='2'%3e%3ccircle stroke-opacity='.5' cx='16' cy='16' r='16'/%3e%3cpath d='M32 16c0-9.94-8.06-16-16-16'%3e%3canimateTransform attributeName='transform' type='rotate' from='0 16 16' to='360 16 16' dur='1s' repeatCount='indefinite'/%3e%3c/path%3e%3c/g%3e%3c/g%3e%3c/svg%3e");
}
section.lazy-placeholder:after {
  opacity: 0.5;
}
body {
  overflow-x: hidden;
}
a {
  transition: color 0.6s;
}
@media (max-width: 1400px) {
  .container {
    max-width: 100%;
  }
}
@media (max-width: 1400px) and (min-width: 768px) {
  .container {
    padding-left: 32px;
    padding-right: 32px;
  }
}
@media (max-width: 1400px) and (min-width: 768px) {
  .container-fluid {
    padding-left: 32px;
    padding-right: 32px;
  }
}
@media (max-width: 767px) {
  .container-fluid {
    padding-left: 16px;
    padding-right: 16px;
  }
}
.cid-tJGsCG1vVL {
  z-index: 1000;
  width: 100%;
  position: relative;
}
.cid-tJGsCG1vVL .dropdown-item:before {
  font-family: Moririse2 !important;
  content: "\e966";
  display: inline-block;
  width: 0;
  position: absolute;
  left: 1rem;
  top: 0.5rem;
  margin-right: 0.5rem;
  line-height: 1;
  font-size: inherit;
  vertical-align: middle;
  text-align: center;
  overflow: hidden;
  transform: scale(0, 1);
  transition: all 0.25s ease-in-out;
}
@media (max-width: 767px) {
  .cid-tJGsCG1vVL .navbar-toggler {
    transform: scale(0.8);
  }
}
.cid-tJGsCG1vVL .navbar-brand {
  flex-shrink: 0;
  align-items: center;
  margin-right: 0;
  padding: 10px 0;
  transition: all 0.3s;
  word-break: break-word;
  z-index: 1;
}
.cid-tJGsCG1vVL .navbar-brand img {
  max-width: 100%;
  max-height: 100%;
  border-radius: 0px !important;
}
.cid-tJGsCG1vVL .navbar-brand .navbar-caption {
  line-height: inherit !important;
}
.cid-tJGsCG1vVL .navbar-brand .navbar-logo a {
  outline: none;
}
.cid-tJGsCG1vVL .navbar-nav {
  margin: auto;
  margin-left: 0;
  margin-left: auto;
}
.cid-tJGsCG1vVL .navbar-nav .nav-item {
  padding: 0 !important;
  transition: .3s all !important;
}
.cid-tJGsCG1vVL .navbar-nav .nav-item .nav-link {
  padding: 16px !important;
  margin: 0 !important;
  border-radius: 1rem !important;
  transition: .3s all !important;
}
.cid-tJGsCG1vVL .navbar-nav .nav-item .nav-link:hover {
  background-color: rgba(27, 31, 10, 0.06);
}
.cid-tJGsCG1vVL .navbar-nav .open .nav-link::after {
  transform: rotate(180deg);
}
@media (min-width: 992px) {
  .cid-tJGsCG1vVL .navbar-nav .open .nav-link::before {
    content: "";
    width: 100%;
    height: 20px;
    top: 100%;
    background: transparent;
    position: absolute;
  }
}
.cid-tJGsCG1vVL .navbar-nav .dropdown-item {
  padding: 12px !important;
  border-radius: 0.5rem !important;
  margin: 0 8px !important;
  transition: .3s all !important;
}
.cid-tJGsCG1vVL .navbar-nav .dropdown-item:hover {
  background-color: rgba(27, 31, 10, 0.06);
}
@media (min-width: 992px) {
  .cid-tJGsCG1vVL .navbar-nav {
    padding-left: 1.5rem;
  }
}
.cid-tJGsCG1vVL .nav-link {
  width: fit-content;
  position: relative;
}
.cid-tJGsCG1vVL .navbar-logo {
  padding-left: 2rem;
  margin: 0 !important;
}
@media (max-width: 767px) {
  .cid-tJGsCG1vVL .navbar-logo {
    padding-left: 1rem;
  }
}
.cid-tJGsCG1vVL .navbar-caption {
  padding-left: 1rem;
  padding-right: .5rem;
}
@media (max-width: 767px) {
  .cid-tJGsCG1vVL .nav-dropdown {
    padding-bottom: 0.5rem;
  }
}
.cid-tJGsCG1vVL .nav-dropdown .link.dropdown-toggle::after {
  margin-left: 0.5rem;
  margin-top: 0.2rem;
  transition: .3s all;
}
.cid-tJGsCG1vVL .container {
  display: flex;
  height: 90px;
  padding: 0.5rem 0.6rem;
  flex-wrap: nowrap;
  background: rgba(255, 255, 255, 0.9) !important;
  left: 0;
  right: 0;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: flex-end;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  border-radius: 100vw;
  margin-top: 1rem;
  background-color: #ffffff;
  box-shadow: 0 30px 60px 0 rgba(27, 31, 10, 0.08);
}
@media (max-width: 992px) {
  .cid-tJGsCG1vVL .container {
    padding-right: 2rem;
  }
}
@media (max-width: 767px) {
  .cid-tJGsCG1vVL .container {
    width: 95%;
    height: 56px !important;
    padding-right: 1rem;
    margin-top: 0rem;
  }
}
.cid-tJGsCG1vVL .iconfont-wrapper {
  color: #ff4552 !important;
  font-size: 1.5rem;
  padding-right: 0.5rem;
}
.cid-tJGsCG1vVL .dropdown-menu {
  flex-wrap: wrap;
  flex-direction: column;
  max-width: 100%;
  padding: 12px 4px !important;
  border-radius: 1.5rem;
  transition: .3s all !important;
  min-width: auto;
  background: #ffffff;
  background: rgba(255, 255, 255, 0.9) !important;
}
.cid-tJGsCG1vVL .nav-item:focus,
.cid-tJGsCG1vVL .nav-link:focus {
  outline: none;
}
.cid-tJGsCG1vVL .dropdown .dropdown-menu .dropdown-item {
  width: auto;
  transition: all 0.25s ease-in-out;
}
.cid-tJGsCG1vVL .dropdown .dropdown-menu .dropdown-item::after {
  right: 0.5rem;
}
.cid-tJGsCG1vVL .dropdown .dropdown-menu .dropdown-item .mbr-iconfont {
  margin-right: 0.5rem;
  vertical-align: sub;
}
.cid-tJGsCG1vVL .dropdown .dropdown-menu .dropdown-item .mbr-iconfont:before {
  display: inline-block;
  transform: scale(1, 1);
  transition: all 0.25s ease-in-out;
}
.cid-tJGsCG1vVL .collapsed .dropdown-menu .dropdown-item:before {
  display: none;
}
.cid-tJGsCG1vVL .collapsed .dropdown .dropdown-menu .dropdown-item {
  padding: 0.235em 1.5em 0.235em 1.5em !important;
  transition: none;
  margin: 0 !important;
}
.cid-tJGsCG1vVL .navbar {
  min-height: 90px;
  transition: all 0.3s;
  border-bottom: 1px solid transparent;
  background: transparent !important;
  padding: 0 !important;
  border: none !important;
  box-shadow: none !important;
  border-radius: 0 !important;
}
.cid-tJGsCG1vVL .navbar.opened {
  transition: all 0.3s;
}
.cid-tJGsCG1vVL .navbar .dropdown-item {
  padding: 0.5rem 1.8rem;
}
.cid-tJGsCG1vVL .navbar .navbar-logo img {
  width: auto;
}
.cid-tJGsCG1vVL .navbar .navbar-collapse {
  z-index: 1;
  justify-content: flex-end;
}
.cid-tJGsCG1vVL .navbar.collapsed {
  justify-content: center;
}
.cid-tJGsCG1vVL .navbar.collapsed .nav-item .nav-link::before {
  display: none;
}
.cid-tJGsCG1vVL .navbar.collapsed.opened .dropdown-menu {
  top: 0;
}
@media (min-width: 992px) {
  .cid-tJGsCG1vVL .navbar.collapsed.opened:not(.navbar-short) .navbar-collapse {
    max-height: calc(98.5vh - 3rem);
  }
}
.cid-tJGsCG1vVL .navbar.collapsed .dropdown-menu .dropdown-submenu {
  left: 0 !important;
}
.cid-tJGsCG1vVL .navbar.collapsed .dropdown-menu .dropdown-item:after {
  right: auto;
}
.cid-tJGsCG1vVL .navbar.collapsed .dropdown-menu .dropdown-toggle[data-toggle="dropdown-submenu"]:after {
  margin-left: 0.5rem;
  margin-top: 0.2rem;
  border-top: 0.35em solid;
  border-right: 0.35em solid transparent;
  border-left: 0.35em solid transparent;
  border-bottom: 0;
  top: 41%;
}
.cid-tJGsCG1vVL .navbar.collapsed ul.navbar-nav li {
  margin: auto;
}
.cid-tJGsCG1vVL .navbar.collapsed .dropdown-menu .dropdown-item {
  padding: 0.25rem 1.5rem;
  text-align: center;
}
.cid-tJGsCG1vVL .navbar.collapsed .icons-menu {
  padding-left: 0;
  padding-right: 0;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}
@media (max-width: 767px) {
  .cid-tJGsCG1vVL .navbar {
    min-height: 72px;
  }
  .cid-tJGsCG1vVL .navbar .navbar-logo img {
    height: 2rem !important;
  }
}
@media (max-width: 991px) {
  .cid-tJGsCG1vVL .navbar .nav-item .nav-link::before {
    display: none;
  }
  .cid-tJGsCG1vVL .navbar.opened .dropdown-menu {
    top: 0;
  }
  .cid-tJGsCG1vVL .navbar .dropdown-menu .dropdown-submenu {
    left: 0 !important;
  }
  .cid-tJGsCG1vVL .navbar .dropdown-menu .dropdown-item:after {
    right: auto;
  }
  .cid-tJGsCG1vVL .navbar .dropdown-menu .dropdown-toggle[data-toggle="dropdown-submenu"]:after {
    margin-left: 0.5rem;
    margin-top: 0.2rem;
    border-top: 0.35em solid;
    border-right: 0.35em solid transparent;
    border-left: 0.35em solid transparent;
    border-bottom: 0;
    top: 40%;
  }
  .cid-tJGsCG1vVL .navbar .dropdown-menu .dropdown-item {
    padding: 0.25rem 1.5rem !important;
    text-align: center;
  }
  .cid-tJGsCG1vVL .navbar .navbar-brand {
    flex-shrink: initial;
    flex-basis: auto;
    word-break: break-word;
    padding-right: 10px;
  }
  .cid-tJGsCG1vVL .navbar .navbar-toggler {
    flex-basis: auto;
  }
  .cid-tJGsCG1vVL .navbar .icons-menu {
    padding-left: 0;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
  }
}
.cid-tJGsCG1vVL .navbar.navbar-short .navbar-logo img {
  height: 2rem;
}
.cid-tJGsCG1vVL .dropdown-item.active,
.cid-tJGsCG1vVL .dropdown-item:active {
  background-color: transparent;
}
.cid-tJGsCG1vVL .navbar-expand-lg .navbar-nav .nav-link {
  padding: 0;
}
.cid-tJGsCG1vVL .nav-dropdown .link.dropdown-toggle {
  margin-right: 1.667em;
}
.cid-tJGsCG1vVL .nav-dropdown .link.dropdown-toggle[aria-expanded="true"] {
  margin-right: 0;
  padding: 0.667em 1.667em;
}
.cid-tJGsCG1vVL .navbar.navbar-expand-lg .dropdown .dropdown-menu {
  background: #ffffff;
}
.cid-tJGsCG1vVL .navbar.navbar-expand-lg .dropdown .dropdown-menu .dropdown-submenu {
  margin: 0;
  left: 105%;
  transform: none;
  top: -12px;
}
.cid-tJGsCG1vVL .navbar .dropdown.open > .dropdown-menu {
  display: flex;
}
.cid-tJGsCG1vVL ul.navbar-nav {
  flex-wrap: wrap;
}
.cid-tJGsCG1vVL .navbar-buttons {
  text-align: center;
  min-width: 140px;
}
@media (max-width: 992px) {
  .cid-tJGsCG1vVL .navbar-buttons {
    text-align: left;
  }
}
.cid-tJGsCG1vVL button.navbar-toggler {
  outline: none;
  width: 31px;
  height: 20px;
  cursor: pointer;
  transition: all 0.2s;
  position: relative;
  align-self: center;
}
.cid-tJGsCG1vVL button.navbar-toggler .hamburger span {
  position: absolute;
  right: 0;
  width: 30px;
  height: 2px;
  border-right: 5px;
  background-color: #000000;
}
.cid-tJGsCG1vVL button.navbar-toggler .hamburger span:nth-child(1) {
  top: 0;
  transition: all 0.2s;
}
.cid-tJGsCG1vVL button.navbar-toggler .hamburger span:nth-child(2) {
  top: 8px;
  transition: all 0.15s;
}
.cid-tJGsCG1vVL button.navbar-toggler .hamburger span:nth-child(3) {
  top: 8px;
  transition: all 0.15s;
}
.cid-tJGsCG1vVL button.navbar-toggler .hamburger span:nth-child(4) {
  top: 16px;
  transition: all 0.2s;
}
.cid-tJGsCG1vVL nav.opened .hamburger span:nth-child(1) {
  top: 8px;
  width: 0;
  opacity: 0;
  right: 50%;
  transition: all 0.2s;
}
.cid-tJGsCG1vVL nav.opened .hamburger span:nth-child(2) {
  transform: rotate(45deg);
  transition: all 0.25s;
}
.cid-tJGsCG1vVL nav.opened .hamburger span:nth-child(3) {
  transform: rotate(-45deg);
  transition: all 0.25s;
}
.cid-tJGsCG1vVL nav.opened .hamburger span:nth-child(4) {
  top: 8px;
  width: 0;
  opacity: 0;
  right: 50%;
  transition: all 0.2s;
}
.cid-tJGsCG1vVL .navbar-dropdown {
  padding: 0 1rem;
}
.cid-tJGsCG1vVL a.nav-link {
  display: flex;
  align-items: center;
  justify-content: center;
}
.cid-tJGsCG1vVL .icons-menu {
  flex-wrap: nowrap;
  display: flex;
  justify-content: center;
  padding-left: 1rem;
  padding-right: 1rem;
  padding-top: 0.3rem;
  text-align: center;
}
@media (max-width: 992px) {
  .cid-tJGsCG1vVL .icons-menu {
    justify-content: flex-start;
    margin-bottom: .5rem;
  }
}
@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
  .cid-tJGsCG1vVL .navbar {
    height: 70px;
  }
  .cid-tJGsCG1vVL .navbar.opened {
    height: auto;
  }
  .cid-tJGsCG1vVL .nav-item .nav-link:hover::before {
    width: 175%;
    max-width: calc(100% + 2rem);
    left: -1rem;
  }
}
.cid-tJGsCG1vVL .navbar .dropdown > .dropdown-menu {
  display: none;
  width: max-content;
  max-width: 500px !important;
  transform: translateX(-50%);
  top: calc(100% + 20px);
  left: 50%;
}
.cid-tJGsCG1vVL .navbar .dropdown > .dropdown-menu .dropdown-item {
  line-height: 1 !important;
}
.cid-tJGsCG1vVL .navbar .dropdown > .dropdown-menu .dropdown .dropdown-item {
  align-items: center;
  display: flex;
  height: max-content !important;
  min-height: max-content !important;
}
.cid-tJGsCG1vVL .navbar .dropdown > .dropdown-menu .dropdown .dropdown-item::after {
  display: inline-block;
  position: static;
  margin-left: 0.5rem;
  margin-top: 0;
  margin-right: 0;
  margin-bottom: 0;
  transition: .3s all;
  transform: rotate(-90deg);
}
.cid-tJGsCG1vVL .navbar .dropdown > .dropdown-menu .dropdown.open .dropdown-item::after {
  transform: rotate(0deg);
}
.cid-tJGsCG1vVL .mbr-section-btn {
  margin: -0.6rem -0.6rem;
}
.cid-tJGsCG1vVL .navbar-toggler {
  margin-left: 12px;
  margin-right: 8px;
  order: 1000;
}
@media (max-width: 991px) {
  .cid-tJGsCG1vVL .navbar-brand {
    margin-right: auto;
  }
  .cid-tJGsCG1vVL .navbar-collapse {
    z-index: -1 !important;
    position: absolute;
    top: 110%;
    left: 0;
    width: 100%;
    padding: 1rem;
    border-radius: 1.5rem;
    background: #ffffff;
    opacity: 1;
    border-color: rgba(255, 255, 255, 0.9) !important;
    background: rgba(255, 255, 255, 0.9) !important;
    backdrop-filter: blur(8px);
  }
  .cid-tJGsCG1vVL .navbar-nav .nav-item .nav-link::after {
    margin-left: 10px;
  }
  .cid-tJGsCG1vVL .navbar-nav .dropdown-item:hover {
    background-color: rgba(27, 31, 10, 0.06);
  }
  .cid-tJGsCG1vVL .navbar .dropdown > .dropdown-menu {
    max-width: 100% !important;
    transform: translateX(0);
    top: 10px;
    left: 0;
    padding: 8px !important;
    border-radius: 1rem;
    background-color: rgba(27, 31, 10, 0.04) !important;
  }
  .cid-tJGsCG1vVL .navbar .dropdown > .dropdown-menu .dropdown-item {
    padding: 8px !important;
    line-height: 1 !important;
    margin-bottom: 4px !important;
  }
  .cid-tJGsCG1vVL .navbar .dropdown > .dropdown-menu .dropdown .dropdown-item {
    align-items: center;
    display: flex;
    height: max-content !important;
    min-height: max-content !important;
  }
  .cid-tJGsCG1vVL .navbar .dropdown > .dropdown-menu .dropdown .dropdown-item::after {
    display: inline-block;
    position: static;
    margin-left: 0.5rem;
    margin-top: 0;
    margin-right: 0;
    margin-bottom: 0;
    transition: .3s all;
    transform: rotate(0deg);
  }
  .cid-tJGsCG1vVL .navbar .dropdown > .dropdown-menu .dropdown.open .dropdown-item::after {
    transform: rotate(180deg);
  }
  .cid-tJGsCG1vVL .navbar .dropdown > .dropdown-menu .dropdown-submenu {
    position: static;
    width: 100%;
    max-width: 100% !important;
    transform: translateX(0) !important;
    top: 0;
    left: 0;
    padding: 8px !important;
    border-radius: 1rem;
    background-color: rgba(27, 31, 10, 0.04) !important;
  }
  .cid-tJGsCG1vVL .navbar .dropdown.open > .dropdown-menu {
    display: flex !important;
    flex-direction: column;
    align-items: flex-start;
  }
}
@media (max-width: 575px) {
  .cid-tJGsCG1vVL .navbar-collapse {
    padding: 1rem;
  }
}
.cid-tJGD1DIY2H {
  padding-top: 10rem;
  padding-bottom: 9rem;
  background-image: url("../../../assets/images/whatsapp-image-2024-03-19-at-17.01.07.jpeg");
}
.cid-tJGD1DIY2H .mbr-fallback-image.disabled {
  display: none;
}
.cid-tJGD1DIY2H .mbr-fallback-image {
  display: block;
  background-size: cover;
  background-position: center center;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
}
.cid-tJGD1DIY2H .card-wrapper {
  background: #ffffff;
  border-radius: 4px;
}
@media (max-width: 767px) {
  .cid-tJGD1DIY2H .card-wrapper {
    padding: 1rem;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  .cid-tJGD1DIY2H .card-wrapper {
    padding: 2rem;
  }
}
@media (min-width: 992px) {
  .cid-tJGD1DIY2H .card-wrapper {
    padding: 4rem;
  }
}
.cid-tJGD1DIY2H .card-title {
  color: #4552ff;
}
.cid-tJGEoKGifq {
  padding-top: 6rem;
  padding-bottom: 6rem;
  background-color: #ffffff;
}
.cid-tJGEoKGifq img,
.cid-tJGEoKGifq .item-img {
  width: 100%;
  height: 100%;
  height: 400px;
  object-fit: cover;
}
.cid-tJGEoKGifq .item:focus,
.cid-tJGEoKGifq span:focus {
  outline: none;
}
.cid-tJGEoKGifq .item {
  margin-bottom: 2rem;
}
@media (max-width: 767px) {
  .cid-tJGEoKGifq .item {
    margin-bottom: 1rem;
  }
}
.cid-tJGEoKGifq .item-content {
  margin-top: 2rem;
  padding: 0 2.25rem 2.25rem;
  display: flex;
  flex-direction: column;
  height: 100%;
}
@media (max-width: 767px) {
  .cid-tJGEoKGifq .item-content {
    padding: 0 2rem 1.5rem;
    margin-top: 1rem;
  }
}
.cid-tJGEoKGifq .item-wrapper {
  position: relative;
  border-radius: 2rem;
  background: #f7f7f7;
  height: 100%;
  display: flex;
  flex-flow: column nowrap;
}
.cid-tJGEoKGifq .item-wrapper .item-footer {
  margin-top: auto;
}
.cid-tJGEoKGifq .mbr-section-title {
  color: #ff4552;
  text-align: center;
}
.cid-tJGEoKGifq .item-title {
  text-align: left;
  color: #ff4552;
}
.cid-tJGEoKGifq .item-subtitle {
  text-align: center;
}
.cid-tJGEoKGifq .mbr-text,
.cid-tJGEoKGifq .item .mbr-section-btn {
  text-align: left;
}
.cid-tJGEoKGifq .mbr-section-subtitle,
.cid-tJGEoKGifq .mbr-section-head .mbr-section-btn {
  text-align: center;
  color: #454745;
}
.cid-tJGKiS9ad3 {
  padding-top: 4rem;
  padding-bottom: 5rem;
  background-color: #ffffff;
}
.cid-tJGKiS9ad3 img,
.cid-tJGKiS9ad3 .item-img {
  width: 100%;
  height: 100%;
  height: 300px;
  object-fit: cover;
}
.cid-tJGKiS9ad3 .item:focus,
.cid-tJGKiS9ad3 span:focus {
  outline: none;
}
.cid-tJGKiS9ad3 .item {
  margin-bottom: 2rem;
}
@media (max-width: 767px) {
  .cid-tJGKiS9ad3 .item {
    margin-bottom: 1rem;
  }
}
.cid-tJGKiS9ad3 .item-content {
  margin-top: 2rem;
  padding: 0 2.25rem 2.25rem;
  display: flex;
  flex-direction: column;
  height: 100%;
}
@media (max-width: 767px) {
  .cid-tJGKiS9ad3 .item-content {
    padding: 0 2rem 1.5rem;
    margin-top: 1rem;
  }
}
.cid-tJGKiS9ad3 .item-wrapper {
  position: relative;
  border-radius: 2rem;
  background: #f7f7f7;
  height: 100%;
  display: flex;
  flex-flow: column nowrap;
}
.cid-tJGKiS9ad3 .item-wrapper .item-footer {
  margin-top: auto;
}
.cid-tJGKiS9ad3 .mbr-section-title {
  color: #4552ff;
  text-align: center;
}
.cid-tJGKiS9ad3 .item-title {
  text-align: left;
  color: #4552ff;
}
.cid-tJGKiS9ad3 .item-subtitle {
  text-align: left;
}
.cid-tJGKiS9ad3 .mbr-text,
.cid-tJGKiS9ad3 .item .mbr-section-btn {
  text-align: left;
}
.cid-tJGKiS9ad3 .mbr-section-subtitle,
.cid-tJGKiS9ad3 .mbr-section-head .mbr-section-btn {
  text-align: center;
}
.cid-tJGQCkAyg1 {
  padding-top: 6rem;
  padding-bottom: 6rem;
  background-color: #ffffff;
}
.cid-tJGQCkAyg1 .item-subtitle {
  line-height: 1.2;
  color: #4552ff;
  text-align: left;
}
.cid-tJGQCkAyg1 img,
.cid-tJGQCkAyg1 .item-img {
  width: 100%;
  border-radius: 2rem;
  height: 100%;
  height: 400px;
  object-fit: cover;
}
.cid-tJGQCkAyg1 .item:focus,
.cid-tJGQCkAyg1 span:focus {
  outline: none;
}
.cid-tJGQCkAyg1 .item {
  margin-top: 2rem;
}
@media (max-width: 767px) {
  .cid-tJGQCkAyg1 .item {
    margin-top: 1rem;
  }
}
.cid-tJGQCkAyg1 .item-wrapper {
  position: relative;
  border-radius: 4px;
  display: flex;
  flex-flow: column nowrap;
}
.cid-tJGQCkAyg1 .mbr-section-btn {
  margin-top: auto !important;
}
.cid-tJGQCkAyg1 .mbr-section-title {
  color: #4552ff;
}
.cid-tJGQCkAyg1 .mbr-text,
.cid-tJGQCkAyg1 .mbr-section-btn {
  color: #353535;
  text-align: left;
}
.cid-tJGQCkAyg1 .item-title {
  color: #353535;
  text-align: center;
}
.cid-tJGRlgYbKj {
  padding-top: 6rem;
  padding-bottom: 6rem;
  background-color: #ffffff;
}
.cid-tJGRlgYbKj .mbr-iconfont {
  font-size: 1.2rem !important;
  font-family: 'Moririse2' !important;
  color: white;
  transition: all 0.3s;
  transform: rotate(180deg);
}
.cid-tJGRlgYbKj .panel-group {
  border: none;
}
.cid-tJGRlgYbKj .card-header {
  padding: 1.2rem 0.5rem;
}
@media (max-width: 767px) {
  .cid-tJGRlgYbKj .card-header {
    padding: 1rem 0rem;
  }
}
.cid-tJGRlgYbKj .panel-body {
  padding: 0 0.5rem;
  padding-bottom: 1rem;
}
@media (max-width: 767px) {
  .cid-tJGRlgYbKj .panel-body {
    padding: 0rem;
    padding-bottom: 1rem;
  }
}
.cid-tJGRlgYbKj .img-col {
  padding: 0;
}
.cid-tJGRlgYbKj .img-item {
  height: 100%;
}
.cid-tJGRlgYbKj img {
  height: 100%;
  object-fit: cover;
}
.cid-tJGRlgYbKj .collapsed span {
  transform: rotate(0deg);
}
.cid-tJGRlgYbKj .panel-title {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.cid-tJGRlgYbKj p {
  margin-bottom: 0.3rem;
}
.cid-tJGRlgYbKj .panel-title-edit {
  color: #ff4552;
}
.cid-tJGRlgYbKj .card .card-header {
  background-color: transparent;
  margin-bottom: 0;
  border: 0;
  border-radius: 2rem;
}
.cid-tJGRlgYbKj .card {
  background: #efe8d8;
  padding: 1rem 2rem;
  border-radius: 2rem;
}
@media (max-width: 767px) {
  .cid-tJGRlgYbKj .card {
    padding: 1.5rem;
  }
}
.cid-tJGRlgYbKj .panel-text {
  color: #000000;
}
.cid-tJGRlgYbKj .mbr-section-title {
  text-align: center;
  color: #ff4552;
}
.cid-tJGRlgYbKj .mbr-section-subtitle {
  color: #ffffff;
  text-align: center;
}
.cid-tJGRlgYbKj .panel-title-edit,
.cid-tJGRlgYbKj .mbr-iconfont {
  color: #000000;
}
.cid-tL7eRYxhmt {
  padding-top: 5rem;
  padding-bottom: 5rem;
  background: #ffffff;
}
.cid-tL7eRYxhmt .mbr-fallback-image.disabled {
  display: none;
}
.cid-tL7eRYxhmt .mbr-fallback-image {
  display: block;
  background-size: cover;
  background-position: center center;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
}
@media (max-width: 767px) {
  .cid-tL7eRYxhmt .row {
    flex-direction: column-reverse;
  }
  .cid-tL7eRYxhmt .row .map-wrapper {
    margin-bottom: 2rem;
  }
}
.cid-tL7eRYxhmt .google-map {
  height: 100%;
  position: relative;
}
.cid-tL7eRYxhmt .google-map iframe {
  height: 100%;
  width: 100%;
}
.cid-tL7eRYxhmt .google-map [data-state-details] {
  color: #6b6763;
  height: 1.5em;
  margin-top: -0.75em;
  padding-left: 1.25rem;
  padding-right: 1.25rem;
  position: absolute;
  text-align: center;
  top: 50%;
  width: 100%;
}
.cid-tL7eRYxhmt .google-map[data-state] {
  background: #e9e5dc;
}
.cid-tL7eRYxhmt .google-map[data-state="loading"] [data-state-details] {
  display: none;
}
.cid-tL7eRYxhmt .image-wrapper {
  display: flex;
  align-items: center;
}
.cid-tL7eRYxhmt .card-wrapper {
  display: flex;
  border-radius: 4px;
  background: #f7f7f7;
}
.cid-tL7eRYxhmt .card-wrapper:not(:nth-last-child(1)) {
  margin-bottom: 2rem;
}
@media (max-width: 991px) {
  .cid-tL7eRYxhmt .card-wrapper {
    padding: 1rem 2rem;
  }
}
@media (min-width: 992px) {
  .cid-tL7eRYxhmt .card-wrapper {
    padding: 2rem 4rem;
  }
}
.cid-tL7eRYxhmt .mbr-iconfont {
  font-size: 2rem;
  padding-right: 1.5rem;
  color: #ff4552;
}
.cid-tL7eRYxhmt P {
  text-align: left;
}
.cid-tL70TtsETn {
  padding-top: 2rem;
  padding-bottom: 1rem;
  background-color: #ff4552;
}
.cid-tL70TtsETn .mbr-overlay {
  background-color: #ffffff;
  opacity: 0.4;
}
.cid-tL70TtsETn form .mbr-section-btn {
  text-align: center;
  width: 100%;
}
.cid-tL70TtsETn form .mbr-section-btn .btn {
  display: inline-flex;
}
@media (max-width: 991px) {
  .cid-tL70TtsETn form .mbr-section-btn .btn {
    width: 100%;
  }
}
.cid-tL70TtsETn .mbr-section-title {
  color: #ffffff;
}
.cid-tL7oDZlVRK {
  padding-top: 6rem;
  padding-bottom: 6rem;
  background-color: #f7f7f7;
}
@media (max-width: 991px) {
  .cid-tL7oDZlVRK .container {
    padding: 0 16px;
  }
}
@media (max-width: 767px) {
  .cid-tL7oDZlVRK .container {
    padding: 0 12px;
  }
}
.cid-tL7oDZlVRK .social-row {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}
.cid-tL7oDZlVRK .social-row .soc-item {
  margin: 8px;
}
.cid-tL7oDZlVRK .social-row .soc-item a:hover .mbr-iconfont,
.cid-tL7oDZlVRK .social-row .soc-item a:focus .mbr-iconfont {
  background-color: #ffffff;
}
.cid-tL7oDZlVRK .social-row .soc-item a .mbr-iconfont {
  width: 72px;
  height: 72px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 100%;
  font-size: 32px;
  background-color: #ffffff;
  color: #f92c50;
  transition: all 0.3s ease-in-out;
}
.cid-tL7oDZlVRK .row-links {
  width: 100%;
  justify-content: center;
}
.cid-tL7oDZlVRK .header-menu {
  list-style: none;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  padding: 0;
  margin-bottom: 0;
}
.cid-tL7oDZlVRK .header-menu li {
  padding: 0 1rem 1rem 1rem;
}
.cid-tL7oDZlVRK .header-menu li p {
  margin: 0;
}
.cid-tL7oDZlVRK .copyright {
  margin-bottom: 0;
  color: #000000;
  text-align: center;
}
.cid-tL7oDZlVRK .mbr-section-title {
  color: #ffffff;
}
