@font-face {
   font-family: 'Manrope';
   font-style: normal;
   font-display: swap;
   font-weight: 200;
   src: url('file:///C:/Users/googo/Documents/los_colores_de_isa/fonts/Manrope/200.ttf') format('truetype');
}
@font-face {
   font-family: 'Manrope';
   font-style: normal;
   font-display: swap;
   font-weight: 300;
   src: url('file:///C:/Users/googo/Documents/los_colores_de_isa/fonts/Manrope/300.ttf') format('truetype');
}
@font-face {
   font-family: 'Manrope';
   font-style: normal;
   font-display: swap;
   font-weight: 500;
   src: url('file:///C:/Users/googo/Documents/los_colores_de_isa/fonts/Manrope/500.ttf') format('truetype');
}
@font-face {
   font-family: 'Manrope';
   font-style: normal;
   font-display: swap;
   font-weight: 600;
   src: url('file:///C:/Users/googo/Documents/los_colores_de_isa/fonts/Manrope/600.ttf') format('truetype');
}
@font-face {
   font-family: 'Manrope';
   font-style: normal;
   font-display: swap;
   font-weight: 700;
   src: url('file:///C:/Users/googo/Documents/los_colores_de_isa/fonts/Manrope/700.ttf') format('truetype');
}
@font-face {
   font-family: 'Manrope';
   font-style: normal;
   font-display: swap;
   font-weight: 800;
   src: url('file:///C:/Users/googo/Documents/los_colores_de_isa/fonts/Manrope/800.ttf') format('truetype');
}
@font-face {
   font-family: 'Manrope';
   font-style: regular;
   font-display: swap;
   font-weight: 400;
   src: url('file:///C:/Users/googo/Documents/los_colores_de_isa/fonts/Manrope/regular.ttf') format('truetype');
}
